<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
    <body>
        
        <table width='100%' border='1' cellspacing='0'>
            <tr  align='center'>
                <td colspan="3"><?php echo $previewedclip['headercode']; ?></td> 
            </tr>
            <tr  align='center'>
                <td width='20%'>Left Sidebar</td> 
                <td width='60%'><?php echo $previewedclip['mainareacode']; ?></td> 
                <td width='20%'>Right Sidebar</td> 
            </tr>
            <tr  align='center'>
                <td colspan="3"><?php echo $previewedclip['footerercode']; ?></td> 
            </tr>
        </table>
    </body>
</html>
